# Fundamentals: Python Intro

## Warm Up

In the cell below, import numpy and name it 'np' and create a list with the python data types that you learned about in the pre-lecture. Name the list "types".
Ex.

```
import ... as ...
types = [...]
```

In [44]:
# import numpy and create the list here

import numpy as np
types = ["0", 2.5, 3, True, ["Five","Four"]]

In [45]:
# Warmup 1: Call the first element in types and slice the last 2 elements. Print both results.
print(types[0])
print(types[-2:])

0
[True, ['Five', 'Four']]

In [46]:
# Warmup 2: Divide by 4, the second element in "types". 
types[1]/4

0.625

In this text cell, explain why or why not the code was able to execute. (Your explanation does _not_ need to be very detailed.)

The code was able to execute because the data type of 2.5 was float, which supports division.

## Exercise 1: Creating Data Containers

Create a list, a set, a tuple and an array. 

- The list (in order) should have
  - any 2 numbers as integers
  - any 2 numbers as floating point numbers
  - 2 of your favourite music artists as strings
  - 6 elements total. Name this list **'First'** and print it. 
- The Set (in order) should have
  - 1 even number less than 20
  - 3 of the first letters of the alphabet as strings in seperate entries.
  - 4 elements total. Name this set **'Second'** and print it.
- The Tuple (in order) should have
  - 6 negative numbers.
  - 6 elements total. Name this Tuple **'Third'** and print it.
- The array (in order) should have
  - the same 6 elements as the tuple but these numbers should be positive.
  - 6 elements total. Name this array **'Fourth'** and print it.

In [47]:
# The list
First = [4, 66, 3.6, 5., "Hana", "KLOUD"]
print(First)

[4, 66, 3.6, 5.0, 'Hana', 'KLOUD']

In [48]:
# The set
Second = {12, "a", "b", "c"}
print(Second)

{'c', 12, 'a', 'b'}

In [49]:
# The tuple
Third = (-1, -3, -5, -4, -44, -22.4)
print(Third)

(-1, -3, -5, -4, -44, -22.4)

In [50]:
# The array
Fourth = np.array([1, 3, 5, 4, 44, 22.4])
print(Fourth)

[ 1.   3.   5.   4.  44.  22.4]

In [51]:
# Add the second element of 'First', and the last elements of 'Third' and 'Fourth'. Print the result.
print(First[1] + Third[-1] + Fourth[-1])

66.0

In [52]:
# Slice the last 3 elements of 'Fourth' and append them to the list 'First'. Print the result.
z = list(Fourth[-3:])
First.append(z)
print(First)

[4, 66, 3.6, 5.0, 'Hana', 'KLOUD', [4.0, 44.0, 22.4]]

## Exercise 2: A Dictionary

Create a dictionary with the following keys, 'Name', 'Year', 'Music' and 'Food'. The values associated with each key (in order) should be your name, the current year, you favourite genre of music and one of your favourite foods. Name the dictionary 'Me' and print it.

In [53]:
# your dictionary here
Me = {'Name': 'Simona', 'Year': '2022', 'Music': 'Techno', 'Food': 'Pasta'}
print(Me)

{'Name': 'Simona', 'Year': '2022', 'Music': 'Techno', 'Food': 'Pasta'}

In [54]:
# Replace the value associated with 'Food' to another one of your favourite foods. Print the updated dictionary.
Me['Food']='Sushi'
print(Me)

{'Name': 'Simona', 'Year': '2022', 'Music': 'Techno', 'Food': 'Sushi'}

## Exercise 3: An "original" List

- Create a list with entries 1, 3, 2, 1, 5, 3, 5, 1, 4 and name it 'original'.
- Create another list called 'unique' that only contains unique numbers from original.

Example:

```
Input
[1, 2, 3, 1]

Output
[1, 2, 3]
```
**Hint:** Think about the properties of a set from lecture.

In [55]:
# List 1
original = [1, 3, 2, 1, 5, 3, 5, 1, 4]
print(original)

[1, 3, 2, 1, 5, 3, 5, 1, 4]

In [56]:
# List 2
unique = list(set(original))
print(unique)

[1, 2, 3, 4, 5]

## Exercise 4: Do the Math!

Call the last element of the array "Fourth" that you created above. Raise this element to the second power and add it to the second element of the list "First".

In [57]:
# do the math here...
Fourth[-1] ** 2 + First[1]

567.76

In [58]:
# Add the last three elements of "Third". 
sum(Third[-3:])

-70.4

## Exercise 5: Conversion

- Convert the tuple, "Third" to an array.
- Double all the elements in "Third"
- Add the elements in this array to the elements in "Fourth".

To do this, use only 1 arithmetic statement. Store this result as "Fifth" and print it.

**Hint** Answer should look like this. 

```
Fifth = 2*___(____) + _____
print (Fifth)
```

In [59]:
# conversion here
Fifth = 2 * np.array(list(Third)) + Fourth
print(Fifth)

[ -1.   -3.   -5.   -4.  -44.  -22.4]

## Exercise 6: Conditionals

Convert "Fifth" to a tuple and use a print statement to see if Fifth is equal to "Third".

In [60]:
# conditionals here
Fifth = tuple(Fifth)
print(Fifth == Third)

True