## Warm Up

Import numpy, matplotlib.pyplot and name them np and plt respectively.

In [1]:
# import here
import numpy as np
import matplotlib.pyplot as plt

In [50]:
# Use the range function to list out all even numbers between 1 and 30.
b = []
for x in list(range(1,31)):
    if x % 2 == 0:
        b.append(x)
print(b)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

## Exercise 7: A Tuple

- Create a tuple with 6,1,2,3,4,5 as entries and name it "Tuple".
- Convert the tuple to an array and name the array 'Array'.
- Finally write a line that will double each element in Array **without** using a loop and print the result.

In [3]:
# exercise 7
Tuple = (6, 1, 2, 3, 4, 5)
Array = np.array(Tuple)
print(Array * 2)

[12  2  4  6  8 10]

## Exercise 8: Do it again!

Now, let's do the above exercise with a loop. Convert Tuple to a list and name it "List". Use a for loop to double all elements in List and print the result.

In [4]:
# exercise 8
List = list(Tuple)

for i in range(len(List)):
    List[i]*=2
print(List)

[12, 2, 4, 6, 8, 10]

## Exercise 9

How many iterations will this while loop have? Why does the while loop stop in the first place?

```
i=0
while i<16:
  print (i)
  i=i+1
```

Write the number of iterations here:

In [5]:
16

16

Why does the while loop stop?

In [6]:
#It stops once i=16, since at that point i<16 is no longer True and the while loop stops.

## Exercise 10: Blast Off!

Use a loop that counts backwards from 5 and prints out 'Blast Off!' after it counts 1.

Output should be

```
5
4
3
2
1
Blast Off!
```
**Hint**
The range function can go backwards. Make sure you select the appropriate starting number, ending number and make your step size -1.

In [7]:
# exercise 10

for i in list(range(5,0,-1)):
    print(i)
print("Blast Off!")

5
4
3
2
1
Blast Off!

## Exercise 11: More Lists

Follow the instructions to create the lists as required.

1. Create a list with entries 0, 4, 5, 8, 2, 9 and name it "num". Use a while loop over num and print out all entries.
2. Create an empty list and name it 'X'. Use a for loop to append all even numbers from 0 to 20 into X.
3. Create a list with entries 6, 4, 6, 5, 123, 37, 82, 44, 39 and save it as "numbers". Loop through the elements in numbers and replace the element with "Even" if it is an even number.
4. Create a empty list and a list with entries 1, 3, 2, 1, 5, 3, 5, 1, 4 and name them "unique" and "original" respectively. Use a loop to iterate over entries in "original" and add all unique entries into "unique".

  Input:
    - unique = `[]`
    - original = `[1, 3, 2, 1, 5, 3, 5, 1, 4]`

  Output:
    - unique = `[1, 3, 2, 5, 4]`
  
  Hint Your loop should look something like this:

    ```
    for i in ___:
        if i not in ___:
            ____.append(i)

    print (___)
    ```

In [52]:
# 11.1
num = [0, 4, 5, 8, 2, 9]
i=0

while i<len(num):
    print(num[i])
    i+=1

0
4
5
8
2
9

In [23]:
# 11.2
X = []
for i in range(0,21,2):
    X.append(i)
print(X)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [55]:
numbers = [6, 4, 6, 5, 123, 37, 82, 44, 39]

for i in range(len(numbers)):
    if numbers[i]%2==0:
        numbers[i]="even"
print(numbers)

['even', 'even', 'even', 5, 123, 37, 'even', 'even', 39]

In [62]:
# 11.4
unique = []
original = [1, 3, 2, 1, 5, 3, 5, 1, 4]

for i in list(set(original)):
    if i in original:
        unique.append(i)

print(unique)

[1, 2, 3, 4, 5]