## Exercise 15: Interview Questions

Write your answers in a text cell or code block below each question.

### 15.1

What is the difference between Python Arrays and lists?

In [1]:
# Python Arrays can carry operations element-wise, so as to perform an operation on every element in the array, which isn't possible with lists.

### 15.2 

What is the difference between list and tuples in Python?

In [2]:
# Tuples are immutable, as opposed to lists.

### 15.3

For the following list, iterate through and print all the terms that contain an integer.

word_list = `['hello', 'goodbye', 'yes1', 'no', 'maybe2']`

In [6]:
word_list = ['hello', 'goodbye', 'yes1', 'no', 'maybe2']

for item in word_list:
    for i in range(len(item)):
        try:
            if type(int(item[i]))==int:
                print(item)
        except:
            pass

yes1
maybe2

### 15.4

For the following list of integers, write a program that returns a list of all the even numbers
'''

number_list = [1,2,3,4,5,6,7,8,9]

In [10]:
number_list = [1,2,3,4,5,6,7,8,9]

def even_it(List):
    new_list = []
    for i in range(len(List)):
        if List[i] % 2 == 0:
            new_list.append(List[i])
    return new_list

even_it(number_list)

[2, 4, 6, 8]

### 15.5

Create a list with elements `["Toronto", "Vancouver", "Montreal"]`, and create a nested for loop that returns a list of these strings in reverse order.

```
Input
["Toronto", "Vancouver", "Montreal"]

Output
["otnoroT", "revuocnaV", "laertnoM"]
```

In [77]:
cities = ["Toronto", "Vancouver", "Montreal"]
lis = []

for city in cities:
    char = ""
    for i in range(1,len(city)):
        char += city[-i]
    char += city[0]
    lis.append(char)
    
print(lis)

['otnoroT', 'revuocnaV', 'laertnoM']

## Exercise 16: Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ⇒ 11 + 1 = 12
    [9, 9] + [2] ⇒ 99 + 2 = 101
```

In [94]:
# exercise 16

def grade_add(x):
    result = []
    y = str(x)
    for i in range(len(y)):
        print(type(y))
    return y


grade_add(12)

<class 'str'>
<class 'str'>

'12'

## Exercise 17: Printing the pretty pyramid

This pyramid is pretty!
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

Let's celebrate that.

Given a number of rows, print a sideways pyramid with this number of "levels" on each side. For instance your function `pretty_pyramid(4)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

And `pretty_pyramid(8)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [5]:
# exercise 17

## Exercise 18: Lucky 7

Return the sum of the numbers in an array, returning 0 for an empty array. 

The number 7 is “lucky”, therefore it does countdouble and the number that comes immediately after a 7 countstriple.

```
lucky_seven([1, 2, 4, 1]) → 8
lucky_seven([1, 1]) → 2
lucky_seven([1, 2, 2, 1, 7]) → 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) → 30
```

In [6]:
# exercise 18

## Exercise 19: Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```

In [7]:
# exercise 19